BARMANAGER RCData "..\\..\\res\\barmanager.txt"
DOCKMANAGER RCData "..\\..\\res\\dockmanager.txt"
sleep32 RCData "..\\..\\res\\sleep32.exe"
sleep64 RCData "..\\..\\res\\sleep64.exe"
logo RCData "..\\..\\res\\MainLogo\\Logo.png"
JpgImage0 RCData "..\\..\\res\\Images\\01.jpg"
JpgImage1 RCData "..\\..\\res\\Images\\02.jpg"
JpgImage2 RCData "..\\..\\res\\Images\\03.jpg"
